In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/raw/acessogov/Auditoria_1.csv',sep=';')

In [11]:
df.sample(10)

,CPF,SCOPES,STATUS,MESSAGE,RESOURCE,CLIENT ID,REDIRECT URL,REMOTE ADDRESS,HEADER REMOTE ADDRESS
610208,34352482246,brasil_cidadao openid selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,0b9d6695-1365-4f14-8807-e46efefed2e3,NaN,10.237.80.129,10.237.80.129
97512,34456280627,brasil_cidadao openid selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,0b9d6695-1365-4f14-8807-e46efefed2e3,NaN,10.237.80.129,10.237.80.129
616972,34913475341,email openid phone profile selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,033a64fa-36a1-4059-81b2-7f482618af94,NaN,10.237.252.64,10.237.252.64
43535,34727651761,NaN,SUCCESS,NaN,LOGIN,NaN,NaN,10.237.80.129,10.237.80.129
901483,34584873489,brasil_cidadao selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,094843e7-031a-4c46-8ee7-1ba981810af3,NaN,10.237.80.130,10.237.80.130
988339,34882656263,NaN,SUCCESS,NaN,CREATE_NEW_ACCOUNT,NaN,NaN,10.237.210.156,10.237.210.156
745272,34902525250,openid brasil_cidadao,SUCCESS,NaN,AUTHORIZE,0b9d6695-1365-4f14-8807-e46efefed2e3,NaN,10.237.80.128,10.237.80.128
854387,34653033300,brasil_cidadao selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,094843e7-031a-4c46-8ee7-1ba981810af3,NaN,10.237.80.128,10.237.80.128
219243,34662780271,NaN,FAIL,Falha de autenticação. (1),LOGIN,NaN,NaN,10.237.80.129,10.237.80.129
97742,34104873480,email openid phone profile selo_cadastro_basico,SUCCESS,NaN,AUTHORIZE,033a64fa-36a1-4059-81b2-7f482618af94,NaN,10.237.234.61,10.237.234.61

In [27]:
df.groupby('CPF').count()

,SCOPES,STATUS,MESSAGE,RESOURCE,CLIENT ID,REDIRECT URL,REMOTE ADDRESS,HEADER REMOTE ADDRESS
CPF,,,,,,,,
34,0,9031,9031,9031,0,0,9031,9031
340,0,65,65,65,0,0,65,65
3400,0,2,2,2,0,0,2,2
34000000000,0,3,3,3,0,0,3,3
34000002000,2,4,0,4,2,0,4,4
34000004001,1,2,0,2,1,0,2,2
34000006000,0,1,1,1,0,0,1,1
34000009004,2,4,0,4,2,0,4,4
34000009008,2,6,0,6,2,0,6,6
34000012004,6,12,0,12,6,0,12,12
34000017004,3,11,4,11,3,0,11,11
34000017008,1,3,0,3,1,0,3,3
34000024004,4,10,2,10,4,0,10,10
34000025027,1,2,0,2,1,0,2,2
3400003,0,1,1,1,0,0,1,1
34000036002,1,3,1,3,1,0,3,3
34000038000,2,3,0,3,2,0,3,3
34000040005,1,2,0,2,1,0,2,2
34000041000,2,4,0,4,2,0,4,4
34000041001,3,5,0,5,3,0,5,5
34000041003,0,1,1,1,0,0,1,1
34000045008,1,2,0,2,1,0,2,2
34000055002,2,4,0,4,2,0,4,4
34000059007,8,14,0,14,8,0,14,14
3400006004,0,1,1,1,0,0,1,1
34000062003,6,11,1,11,6,0,11,11
34000064000,0,3,3,3,0,0,3,3
34000066001,3,7,0,7,3,0,7,7
34000067001,1,2,0,2,1,0,2,2
34000070008,5,7,0,7,5,0,7,7
...,...,...,...,...,...,...,...,...
34ssidieidN,0,1,1,1,0,0,1,1
34ssolecolm,0,1,1,1,0,0,1,1
34suguazguL,0,1,1,1,0,0,1,1
34suoMaioML,0,1,1,1,0,0,1,1
34sutnivtnM,0,1,1,1,0,0,1,1
34taaireaiv,0,1,1,1,0,0,1,1
34tewlacwlf,0,1,1,1,0,0,1,1
34tkramiraw,0,4,4,4,0,0,4,4
34tnas_iasm,0,1,1,1,0,0,1,1
34tsamuhamp,0,1,1,1,0,0,1,1
34tsotnaotr,0,1,1,1,0,0,1,1
34tt0,0,1,1,1,0,0,1,1
34tuelesell,0,1,1,1,0,0,1,1
34ualleilld,0,1,1,1,0,0,1,1
34uennaienr,0,1,1,1,0,0,1,1
34uloileoia,0,1,1,1,0,0,1,1
34uohlifhlr,0,1,1,1,0,0,1,1
34uomoicmom,0,1,1,1,0,0,1,1
34uvboivboo,0,1,1,1,0,0,1,1
34vlisleisr,0,1,1,1,0,0,1,1
34vracecacj,0,1,1,1,0,0,1,1
34vumihomia,0,1,1,1,0,0,1,1
34webdiebD,0,1,1,1,0,0,1,1
34x03645363,0,1,1,1,0,0,1,1
34xaidreide,0,1,1,1,0,0,1,1
34xxx090x00,0,1,1,1,0,0,1,1
34yojretjrv,0,1,1,1,0,0,1,1
34zeboinbom,0,1,1,1,0,0,1,1
34zianaianj,0,1,1,1,0,0,1,1
34zugenager,0,1,1,1,0,0,1,1

In [30]:
df[df['CPF'] == '34'].shape

(9031, 9)

In [31]:
df1 = pd.read_csv('../data/raw/acessogov/Auditoria_1.csv',sep=';')
df2 = pd.read_csv('../data/raw/acessogov/Auditoria_2.csv',sep=';')
df3 = pd.read_csv('../data/raw/acessogov/Auditoria_3.csv',sep=';')
df4 = pd.read_csv('../data/raw/acessogov/Auditoria_4.csv',sep=';')
df5 = pd.read_csv('../data/raw/acessogov/Auditoria_5.csv',sep=';')
df6 = pd.read_csv('../data/raw/acessogov/Auditoria_6.csv',sep=';')
df7 = pd.read_csv('../data/raw/acessogov/Auditoria_7.csv',sep=';')
df8 = pd.read_csv('../data/raw/acessogov/Auditoria_8.csv',sep=';')
df9 = pd.read_csv('../data/raw/acessogov/Auditoria_9.csv',sep=';')
df10 = pd.read_csv('../data/raw/acessogov/Auditoria_10.csv',sep=';')

In [36]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])