In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import FeatureHasher

## Carrega dados

In [2]:
df_auditoria = pd.read_csv("ips-processed.csv")
df_auditoria.drop(columns=['Unnamed: 0'],inplace=True)
print(df_auditoria.shape)
df_auditoria.head()

(1000000, 4)

           DATA EVENTO          CPF   STATUS  REMOTE ADDRESS
0  2019-07-10 16:06:45  34894024407  SUCCESS  192.31.221.248
1  2019-07-10 16:06:49  34402518252  SUCCESS    192.56.54.69
2  2019-07-10 16:06:51  34641345139  SUCCESS   192.30.180.55
3  2019-07-10 16:06:46  34578456840  SUCCESS    192.49.255.9
4  2019-07-10 16:06:46  34808234821  SUCCESS    192.67.0.200

## cria outliers no dataset

In [3]:
df_auditoria['CPF2'] = df_auditoria['CPF'].apply(lambda x: 34730696066 if (x == 34235325539 or x== 34366617610 or x== 34892825288) else x)
df_auditoria['CPF'] = df_auditoria['CPF2']
df_auditoria.drop(columns='CPF2',inplace=True)
df_auditoria.CPF.value_counts()[:15]

34730696066    1375
34701401144     246
34420781073     225
34833549352     210
34744469440     201
34565540550     178
34462776270     173
34608136819     171
34572553252     171
34278037806     170
34338221820     170
34801902190     168
34458461841     161
34008360836     160
34702658267     159
Name: CPF, dtype: int64

In [4]:
df_auditoria['REMOTE ADDRESS2'] = df_auditoria['REMOTE ADDRESS'].apply(
    lambda x: '198.51.101.202' if (x == '192.0.3.40' or x== '198.51.101.220' 
    or x== '192.0.3.87' or x=='192.31.197.103' or x=='192.0.3.112' or x=='192.52.192.223'
    or x=='192.52.192.165' or x=='203.0.112.2' or x=='192.31.197.220' or x=='198.51.101.33') else x)
df_auditoria['REMOTE ADDRESS'] = df_auditoria['REMOTE ADDRESS2']
df_auditoria.drop(columns='REMOTE ADDRESS2',inplace=True)
df_auditoria['REMOTE ADDRESS'].value_counts()[:15]

198.51.101.202    575
192.52.192.227     50
192.0.3.24         50
192.0.3.123        50
198.51.101.105     50
198.51.101.118     50
192.52.192.46      50
192.31.197.56      49
192.31.197.159     49
203.0.112.41       49
198.51.101.63      49
192.52.192.124     49
192.0.1.130        49
192.0.1.226        49
198.51.101.86      49
Name: REMOTE ADDRESS, dtype: int64

In [5]:
def transform_ip(ip):
    """
    If IPv4, equalizes each group and left zero pads to match IPv6 length
    If IPv6, converts all to lower case
    """
    # IPv4 address
    groups = ip.split( "." )

    equalize_group_length = "".join( map( lambda group: group.zfill(3), groups ))
    return equalize_group_length

In [6]:
df_auditoria['IP'] = df_auditoria['REMOTE ADDRESS'].apply(transform_ip)
df_auditoria.head()

           DATA EVENTO          CPF   STATUS  REMOTE ADDRESS            IP
0  2019-07-10 16:06:45  34894024407  SUCCESS  192.31.221.248  192031221248
1  2019-07-10 16:06:49  34402518252  SUCCESS    192.56.54.69  192056054069
2  2019-07-10 16:06:51  34641345139  SUCCESS   192.30.180.55  192030180055
3  2019-07-10 16:06:46  34578456840  SUCCESS    192.49.255.9  192049255009
4  2019-07-10 16:06:46  34808234821  SUCCESS    192.67.0.200  192067000200

In [7]:
h = FeatureHasher(n_features=10, input_type='string')

In [8]:
transformed = h.transform( df_auditoria[['IP']].values.ravel()).toarray()
df = pd.DataFrame(transformed,columns=['IP1','IP2','IP3','IP4','IP5','IP6','IP7','IP8','IP9','IP10'])
df.head()

   IP1  IP2  IP3  IP4  IP5  IP6  IP7  IP8  IP9  IP10
0  1.0  5.0 -1.0 -1.0  0.0  0.0  0.0 -3.0  0.0  -1.0
1  4.0  3.0 -1.0  0.0  0.0  0.0  0.0 -1.0  0.0  -3.0
2  3.0  2.0  0.0 -1.0  0.0  0.0  0.0 -2.0  0.0  -4.0
3  2.0  5.0 -1.0  0.0  0.0  0.0  0.0 -1.0  0.0  -3.0
4  1.0  3.0  0.0  0.0  0.0  0.0  0.0 -1.0  1.0  -6.0

In [9]:
df_auditoria = df_auditoria.merge(df,left_index=True, right_index=True)

In [10]:
df_auditoria[df_auditoria.IP=='198051101202']

,DATA EVENTO,CPF,STATUS,REMOTE ADDRESS,IP,IP1,IP2,IP3,IP4,IP5,IP6,IP7,IP8,IP9,IP10
1702,2019-07-10 16:09:04,34573111310,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
4338,2019-07-10 16:14:39,34076485640,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
7603,2019-07-10 16:21:39,34819363933,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
7618,2019-07-10 16:22:29,34061054108,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
7934,2019-07-10 16:22:35,34757569750,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
12564,2019-07-10 16:33:30,34257537759,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
15531,2019-07-10 16:39:40,34886474643,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
16925,2019-07-10 16:43:10,34638511850,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
17594,2019-07-10 16:44:35,34428234821,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
19891,2019-07-10 16:50:17,34838538854,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
19953,2019-07-10 16:49:27,34893195311,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
21109,2019-07-10 16:52:07,34067034702,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
22445,2019-07-10 16:55:20,34762991290,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
22674,2019-07-10 16:56:27,34869288921,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
23673,2019-07-10 16:58:39,34771649161,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
25476,2019-07-10 17:02:57,34387991790,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
25483,2019-07-10 17:02:39,34809129912,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
26353,2019-07-10 17:06:05,34517955790,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
26770,2019-07-10 17:06:09,34211456140,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
27546,2019-07-10 17:09:15,34663958391,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
28261,2019-07-10 17:11:55,34520911091,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
29930,2019-07-10 17:17:06,34908499840,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
30234,2019-07-10 17:17:42,34893680361,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
32095,2019-07-10 17:22:32,34594663468,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
34796,2019-07-10 17:30:12,34937694766,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
35070,2019-07-10 17:29:54,34558771877,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
36281,2019-07-10 17:34:26,34931295127,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
38162,2019-07-10 17:40:07,34882165211,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
40951,2019-07-10 17:48:29,34574883480,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
45945,2019-07-10 18:06:15,34814836480,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938637,2019-07-14 13:05:07,34689460941,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
942976,2019-07-14 13:51:31,34879430940,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
943549,2019-07-14 14:00:31,34982812280,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
951196,2019-07-14 15:09:31,34883377334,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
951243,2019-07-14 15:13:52,34306311632,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
951253,2019-07-14 15:09:35,34035520555,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
951745,2019-07-14 15:16:30,34172127210,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
953677,2019-07-14 15:40:07,34304590450,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
953802,2019-07-14 15:39:21,34121545150,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
956275,2019-07-14 15:59:52,34844630462,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
957056,2019-07-14 16:06:37,34706107611,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
962985,2019-07-14 17:06:31,34891774171,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
963536,2019-07-14 17:11:27,34891775317,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
963646,2019-07-14 17:11:05,34888282823,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
965734,2019-07-14 17:30:15,34440478046,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
966126,2019-07-14 17:32:55,34342528258,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
970555,2019-07-14 18:16:16,34688053801,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
970586,2019-07-14 18:19:16,34675519550,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
973418,2019-07-14 18:43:14,34857132714,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
974761,2019-07-14 18:56:04,34116780670,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
975085,2019-07-14 18:59:08,34748058801,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
977033,2019-07-14 19:14:47,34297541754,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
977911,2019-07-14 19:22:11,34447781770,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
979538,2019-07-14 19:36:38,34451322138,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
980815,2019-07-14 19:47:36,34459669964,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
985060,2019-07-14 20:25:55,34874638460,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
988668,2019-07-14 20:52:59,34675695566,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
988873,2019-07-14 20:56:08,34834776473,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
993652,2019-07-14 21:38:55,34818065802,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0
993725,2019-07-14 21:38:06,34436549650,SUCCESS,198.51.101.202,198051101202,1.0,3.0,0.0,-1.0,0.0,0.0,0.0,-4.0,0.0,-3.0

In [11]:
df_auditoria.CPF.nunique()

327338

In [12]:
df_auditoria.head()

,DATA EVENTO,CPF,STATUS,REMOTE ADDRESS,IP,IP1,IP2,IP3,IP4,IP5,IP6,IP7,IP8,IP9,IP10
0,2019-07-10 16:06:45,34894024407,SUCCESS,192.31.221.248,192031221248,1.0,5.0,-1.0,-1.0,0.0,0.0,0.0,-3.0,0.0,-1.0
1,2019-07-10 16:06:49,34402518252,SUCCESS,192.56.54.69,192056054069,4.0,3.0,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,-3.0
2,2019-07-10 16:06:51,34641345139,SUCCESS,192.30.180.55,192030180055,3.0,2.0,0.0,-1.0,0.0,0.0,0.0,-2.0,0.0,-4.0
3,2019-07-10 16:06:46,34578456840,SUCCESS,192.49.255.9,192049255009,2.0,5.0,-1.0,0.0,0.0,0.0,0.0,-1.0,0.0,-3.0
4,2019-07-10 16:06:46,34808234821,SUCCESS,192.67.0.200,192067000200,1.0,3.0,0.0,0.0,0.0,0.0,0.0,-1.0,1.0,-6.0